body{
font-family: Arial;
background:#0f0f0f;
color:white;
text-align:center;
}

header{
background:#111;
padding:20px;
color:gold;
font-size:28px;
}

section{
margin-top:40px;
}

input{
padding:10px;
margin:10px;
width:220px;
}

button{
padding:10px 20px;
background:gold;
border:none;
cursor:pointer;
}

.hidden{
display:none;
}

#navigator button{
margin:4px;
width:35px;
}
